.thank-you-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: turquoise;
    font-family: "Inconsolata", monospace;
    text-align: center;
}

.thank-you-message h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.thank-you-message p {
    font-size: 4rem;
    font-weight: 500;
    text-shadow: 5px 5px 5px rgb(234, 0, 255);
}

.rotating-logo {
    width: 10%;
    height: auto;
    position: absolute;
    top: 650px;
    right: 80px;
    opacity: 0.5;
    transition: transform 0.1s linear;
    pointer-events: none;
}